# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
backend/env/

# Django
db.sqlite3
media/

# Node / vue.js
node_modules/
*.timestamp-*-*.mjs
dist
dist-ssr
coverage
*.local


# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/
